// Defaul font-size
$defaultFontSize: 16;

// Size for media-queries
// To use media queries for tablet for example please write:
// @include tablet {
// }

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// COLORS
$primary-color: #54E6AF;
$background-color: #121725;
$text-color: #C2CBE5;
$background-button-color: #2C344B;
$hover-button-color: #B3FFE2;
$icon-color: #5A668A;
$white-color: #FFFFFF;
$error-color: #FB3E3E;

// FONTS
$chivo-light-font: 300 'Chivo', sans-serif;
$chivo-bold-font: 700 'Chivo', sans-serif;