@import './core/reset';
@import './core/mixins';
@import './core/variables';

.main-background {
    background-image: url(../images/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}